.box{
    height: 500px;
    background-image: url("/images/tennis_court.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.btn-login-selector {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    background-color: transparent;
    width: 200px;
    margin-bottom: 20px;
}

.selector-active {
    border-bottom: 4px solid #5BC0DE;
}

.section-disable {
    display: none;
}

input, select {
    display: block;
    width: 100%;
    padding: 10px 15px;
}

.submit-btn {
    margin-top: 15px;
    border: none;
    background-color: #5BC0DE;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    opacity: 0.6;
}