* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Montserrat', sans-serif;
  background-color: #F7F7F7;
  display: grid;
  grid-template-areas: "h h" "nav main" "f f";
  grid-template-columns: 20% auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  grid-area: h;
  padding: 10px;
  background-color: #5BC0DE;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

#logo {
  width: 150px;
}

.boxUser {
  display: flex;
  color: white;
  align-items: center;
  font-size: 20px;
  margin-right: 15px;
  border-radius: 100px;
  transition: 0.3s;
  padding: 10px 15px;
  cursor: pointer;
}

.boxUser:hover {
  background-color: white;
  color: #5BC0DE;
}

#username {
  margin-right: 10px;
}

/* NAV */

nav {
  grid-area: nav;
  margin-left: 15px;
  padding: 15px;
  -webkit-box-shadow: -2px 0px 18px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -2px 0px 18px 0px rgba(0,0,0,0.15);
  box-shadow: -2px 0px 18px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
  height: min-content;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.active-link {
  color: #5BC0DE;
}

nav a {
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  color: #5BC0DE;
}

nav i {
  font-size: 25px;
}

nav a i {
  margin-right: 10px;
}

.btn-create-event {
  width: min-content;
  background-color: #5BC0DE;
  border-radius: 100px;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  transition: 0.3s;
  border: none;
}

.btn-create-event:hover {
  opacity: 0.6;
}

.nav-button {
  display: flex;
  justify-content: center;
}

/* MAIN */

main {
  grid-area: main;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  -webkit-box-shadow: -2px 0px 18px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: -2px 0px 18px 0px rgba(0,0,0,0.15);
  box-shadow: -2px 0px 18px 0px rgba(0,0,0,0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

/* TABLE MY EVENTS */

#table-my-events {
  width: 100%;
  border-collapse: collapse;
}

#table-my-events td, #units th {
  padding: 8px;
}

#table-my-events th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
} 

.btn-edit, .btn-delete {
  background-color: #5BC0DE;
  border-radius: 100px;
  padding: 15px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

.btn-edit:hover, .btn-delete:hover {
  opacity: 0.6;
}

.btn-edit {
  margin-right: 15px;
}

#table-my-events tr td {
  color: #707070;
  padding-top: 35px;
}

.box-status {
  padding: 3px;
  background-color: #FFBF40;
  color: white;
  border-radius: 5px;
}

#error {
  display: none;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

footer {
  grid-area: f;
  display: flex;
  padding: 20px;
  background-color: #5BC0DE;
  justify-content: center;
  margin-top: 5%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section p {
  color: white;
}

footer section img {
  width: 300px;
}

/* DROPDOWN */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 154px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
  color: grey;
  display: flex;
  flex-direction: column;
}

.header-modal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-title {
  font-size: 40px;
}

.event {
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

input, select, textarea {
  padding: 10px;
  border: 2px solid #707070;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 15px;
}

.btn-add-event {
  background-color: #5BC0DE;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  width: 250px;
  border: none;
  transition: 0.3s;
}

.btn-add-event:hover {
  opacity: 0.6;
}

.update-inputs {
  display: flex;
  flex-direction: column;
}

#box-whitelist {
  display: none;
}